<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<include resource="org/springframework/boot/logging/logback/base.xml" />

    <jmxConfigurator/>

	<!-- @see https://github.com/spring-cloud/spring-cloud-netflix/issues/120 -->
	<logger name="com.netflix.eureka.resources" level="OFF" />
	<logger name="com.fns.grivet" level="ERROR" />
	    
</configuration>