# DOCKER COMPOSE CONFIGURATION
# This file uses the version 2 docker-compose file format, described here:
# https://docs.docker.com/compose/compose-file/#version-2

version: '2'

services:
  
  ## INFRASTRUCTURE SERVICES
  
  ### API GATEWAY
  edge-service:
    extends:
      file: api-gateway.yml
      service: zuul
    links:
      - discovery-service
      - config-service
      - springboot-admin
      - grivet-standalone


  ## CORE SERVICE
  
  ### GRIVET STANDALONE
  grivet-standalone:
    image: fastnsilver/grivet-standalone
    ports:
      - 8080:8080
    links:
      - config-service
      - discovery-service
      - prometheus
      - db
    environment:
      - SPRING_PROFILES_ACTIVE=mysql,insecure,standalone
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/grivetdb?rewriteBatchedStatements=true&useSSL=false&serverTimezone=UTC
      - DOCKER_IP=$DOCKER_IP
      - JAVA_OPTS=-Xmx2g -XX:+UseG1GC -XX:+UseStringDeduplication
      - SPRING_CLOUD_CONFIG_URI=http://config-service:8888
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - EUREKA_CLIENT_REGISTER_WITH_EUREKA=true
      - EUREKA_CLIENT_FETCH_REGISTRY=true
      - EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE=http://discovery-service:8761/eureka/
