<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <jmxConfigurator/>

    <logger name="com.fns.grivet" level="DEBUG" />
    <logger name="org.flyway" level="INFO" />
    <logger name="org.hibernate.type" level="ALL" />
    <logger name="org.hibernate" level="DEBUG" />
    <logger name="com.stormpath" level="INFO" />
        
</configuration>