ribbon:
  ServerListRefreshInterval: 1000

spring:
  profiles:
    active: h2,insecure
  
  autoconfigure:
    exclude: 
      - org.springframework.cloud.netflix.eureka.EurekaClientAutoConfiguration
      
  jpa:
    hibernate:
      ddl-auto: none
      
  jackson:
    serialization-inclusion: non-empty
    
  flyway:
    placeholders:
      preamble:
      varcharQualifier: 
      createTableSuffix:
      longVarBinary:
  
  # @see https://stackoverflow.com/questions/36417045/spring-boot-metrics-vs-spring-cloud-metrics 
  metrics:
    servo:
      enabled: false
  
logging:
  level:
    org.flyway: WARN
    org.hibernate: WARN
    org.springframework: WARN
    com.zaxxer.hikari: WARN
    com.fns.grivet: INFO

management:
  endpoints:
    web:
      exposure:
        include: "*"
           
---

spring:
  profiles: hsqldb
  datasource:
    name: test-hsqldb
    url: jdbc:hsqldb:mem:grivetdb
    driver-class-name: org.hsqldb.jdbcDriver
    data-source-class-name: org.hsqldb.jdbc.JDBCDataSource
    username: sa
    password: 
  jpa:
    show-sql: true
    properties:
      hibernate.connection.autocommit: true

  flyway:
    locations: classpath:db/migration, classpath:db/hsqldb, classpath:db/users
    placeholders:
      autoInc: GENERATED BY DEFAULT AS IDENTITY
      dateFormatFn: TO_CHAR(val, 'YYYY-MM-DD')
      dateTimeFormatFn: TO_CHAR(val, 'YYYY-MM-DD"T"HH24:MI:SS')
      instantFormatFn: TO_CHAR(val, 'YYYY-MM-DD"T"HH24:MI:SS')
      textColumnType: VARCHAR(4000)
      longTextColumnType: VARCHAR(8000)
      longVarBinary: LONGVARBINARY
      renameTableKeyword: RENAME TO
      alterColumnKeyword: ALTER COLUMN
    
---

spring:
  profiles: h2
  datasource:
    name: test-h2
    url: jdbc:h2:mem:grivetdb;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=false
    driver-class-name: org.h2.Driver
    data-source-class-name: org.h2.jdbcx.JdbcDataSource
    username: sa
    password: sa
  h2:
    console:
      enabled: true

  flyway:
    locations: classpath:db/migration, classpath:db/users
    placeholders:
      autoInc: AUTO_INCREMENT
      dateFormatFn: FORMATDATETIME(val, 'yyyy-MM-dd')
      dateTimeFormatFn: CONCAT(FORMATDATETIME(val, 'yyyy-MM-dd'), 'T', FORMATDATETIME(val, 'HH:mm:ss'))
      instantFormatFn: CONCAT(FORMATDATETIME(val, 'yyyy-MM-dd'), 'T', FORMATDATETIME(val, 'HH:mm:ss'))
      textColumnType: TEXT
      longTextColumnType: LONGTEXT
      longVarBinary: LONGBLOB
      renameTableKeyword: RENAME TO
      alterColumnKeyword: ALTER COLUMN
    
---

spring:
  profiles: insecure
  # @see https://github.com/spring-projects/spring-boot/issues/10306
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
      - org.springframework.cloud.netflix.eureka.EurekaClientAutoConfiguration
      
management:
  jolokia:
    enabled: true
