<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<include resource="org/springframework/boot/logging/logback/base.xml" />

    <jmxConfigurator/>

	<logger name="com.fns.grivet" level="ERROR" />
	<logger name="org.flyway" level="WARN" />
	<logger name="org.hibernate" level="ERROR"/>
	<logger name="com.stormpath" level="WARN" />
        
</configuration>